![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [38]:
ejer_1 = [1,2,3,4,5]

In [39]:
print(ejer_1)

[1, 2, 3, 4, 5]

In [40]:
ejer_1[::-1]

[5, 4, 3, 2, 1]

In [41]:
print(ejer_1)

[1, 2, 3, 4, 5]

In [42]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [43]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

In [44]:
ejer_3_sol = []

for i in ejer_3_1:
    for j in ejer_3_2:
        ejer_3_sol.append(i + " " + j)

print(ejer_3_sol)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [49]:
ejer_4 = [20, 45, 47, 19, 29, 67, 78, 90, 45]

ejer_4.index(45)

ejer_4[ejer_4.index(45)] = 0

ejer_4

[20, 0, 47, 19, 29, 67, 78, 90, 45]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [51]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

for i in ejer_5.copy():
    if i == 3:
        ejer_5.remove(i)

print(ejer_5)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [59]:
tupla_1 = (1,2,3)
tupla_2 = (4,)
print(type(tupla_2))
tupla_3 = (1, 2.3, "Diego", True, None, ["a", "b", "c"])
print(tupla_3[0])
print(tupla_3[-1])
print(tupla_3[len(tupla_3)-1])
tupla_4 = tupla_3 + ("hola",)

<class 'tuple'>
1
['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
print(int(len(tupla_4)//2))

lista_4 = list(tupla_4)

lista_4.pop(len(tupla_4)//2)
print(lista_4)
tupla_4 = tuple(lista_4)
print(tupla_4)

3
[1, 2.3, 'Diego', None, ['a', 'b', 'c'], 'hola']
(1, 2.3, 'Diego', None, ['a', 'b', 'c'], 'hola')

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [64]:
ejer_7 = ("cien", "cañones", "por", "banda")

In [ ]:
" ".join(ejer_7)

'cien pedrocañones pedropor pedrobanda'

In [67]:
print(*ejer_7)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [68]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

In [69]:
print(ejer_8[2], ejer_8[-3])

3 90

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [70]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

In [73]:
ejer_11_dict = {}

for clave, valor in ejer_11:
    if not clave in ejer_11_dict:
        ejer_11_dict[clave] = []
    ejer_11_dict[clave].append(valor)

print(ejer_11_dict)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [75]:
print(ejer_11)

[('x', 1), ('x', 2), ('x', 3), ('y', 1), ('y', 2), ('z', 1)]

In [78]:
ejer_11_dict = {}
var = 0
for clave, valor in ejer_11:
    if  clave in ejer_11_dict:
        var = var + 1
        clave = clave + str(var)
    ejer_11_dict[clave] = valor

print(ejer_11_dict)

{'x': 1, 'x1': 2, 'x2': 3, 'y': 1, 'y3': 2, 'z': 1}

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual a 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

In [79]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}

In [84]:
print(type(ejer_12.keys()))
print(ejer_12.values())

<class 'dict_keys'>
dict_values([78, 98, 234, 29])

In [86]:
lista_12 = sorted(ejer_12.keys())
print(lista_12)
print(type(lista_12))

[2, 4, 5, 8]
<class 'list'>

In [88]:
lista_12_2 = sorted(ejer_12.values(), reverse= True)
print(lista_12_2)

[234, 98, 78, 29]

In [89]:
ejer_12["clave"] = "valor"
print(ejer_12)

{4: 78, 2: 98, 8: 234, 5: 29, 'clave': 'valor'}

In [90]:
ejer_12[2]

98

In [92]:
for clave, valor in ejer_12.items():
    print(clave)
    print(valor)

4
78
2
98
8
234
5
29
clave
valor

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

In [93]:
ejer_13_1 = {1: 11, 2: 22}
ejer_13_2 = {3: 33, 4: 44}

In [94]:
ejer_13_1.update(ejer_13_2)
ejer_13_1

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [95]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

In [96]:
sum(list(ejer_14.values()))

165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [97]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

In [99]:
import numpy as np

print(np.prod(list(ejer_15.values())))

19326120

In [100]:
import math

print(math.prod(list(ejer_15.values())))

19326120

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [114]:
set_16 = {1, "a", 3}
print(set_16)
print(type(set_16))

{'a', 1, 3}
<class 'set'>

In [115]:
set_16.add("b")
print(set_16)

{'a', 1, 3, 'b'}

In [116]:
set_16.remove("b")
print(set_16)

{'a', 1, 3}

In [117]:
print(set_16)

{'a', 1, 3}

In [110]:
set_16.discard(10)
print(set_16)

{'a', 1, 3, 'b'}