# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = "\t")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 3. Name of the max valued product

In [7]:
df["item_price"] = df["item_price"].str.replace("$", "").astype(float)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [10]:
df["precio_unitario"] = df["item_price"]/df["quantity"]
df

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [11]:
df["precio_unitario"] == df["precio_unitario"].max()

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: precio_unitario, Length: 4622, dtype: bool

In [54]:
df_final = df.loc[df["precio_unitario"] == df["precio_unitario"].max(),["item_name","precio_unitario"]].drop_duplicates("item_name").reset_index()

df_final

   index            item_name  precio_unitario
0    281     Steak Salad Bowl            11.89
1   1132  Carnitas Salad Bowl            11.89
2   1229  Barbacoa Salad Bowl            11.89

In [55]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            3 non-null      int64
 1   item_name        3 non-null      object
 2   precio_unitario  3 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 204.0+ bytes

In [59]:
type(df["item_name"])

pandas.core.series.Series

### Step 4. How many products cost more than $10.00?

In [60]:
df["precio_unitario"] > 10

0       False
1       False
2       False
3       False
4       False
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: precio_unitario, Length: 4622, dtype: bool

In [ ]:
df[df["precio_unitario"] > 10]["item_name"].nunique()

5             Chicken Bowl
7            Steak Burrito
13            Chicken Bowl
23         Chicken Burrito
39           Barbacoa Bowl
               ...
4610         Steak Burrito
4611        Veggie Burrito
4617         Steak Burrito
4618         Steak Burrito
4619    Chicken Salad Bowl
Name: item_name, Length: 1034, dtype: object

### Step 4.1: Y cuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$? Es lo mismo?

In [73]:
df["precio_unitario"] > 10

0       False
1       False
2       False
3       False
4       False
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: precio_unitario, Length: 4622, dtype: bool

In [74]:
df[df["precio_unitario"] > 10]["order_id"].nunique()

787

### Step 4.2: Y cuÃ¡ntos pedidos se han hecho de mÃ¡s de 20$? Es lo mismo?

In [75]:
group = df.groupby("order_id")["item_price"].sum()
group

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [77]:
len(group[group > 20])

566

### Step 4.3: Y en cuÃ¡ntos pedidos se ha pagado mÃ¡s de 10$ por un mismo producto? Es lo mismo?

In [80]:
df["item_price"] >10

0       False
1       False
2       False
3       False
4        True
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: item_price, Length: 4622, dtype: bool

In [ ]:
df[df["item_price"] > 10]["order_id"].nunique()

787

In [87]:
df

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [89]:
df[["item_name", "precio_unitario"]].drop_duplicates()

                                  item_name  precio_unitario
0              Chips and Fresh Tomato Salsa             2.39
1                                      Izze             3.39
2                          Nantucket Nectar             3.39
3     Chips and Tomatillo-Green Chili Salsa             2.39
4                              Chicken Bowl             8.49
...                                     ...              ...
3989                          Chicken Salad             8.19
4235                           Chicken Bowl             8.50
4237                    Chips and Guacamole             4.25
4509                                  Chips             1.99
4510                          Barbacoa Bowl            11.49

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [99]:
df.sort_values(["item_name", "choice_description"], ascending= False)

,order_id,quantity,item_name,choice_description,item_price,precio_unitario
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
...,...,...,...,...,...,...
3633,1454,1,6 Pack Soft Drink,[Coke],6.49,6.49
3766,1508,1,6 Pack Soft Drink,[Coke],6.49,6.49
3836,1537,1,6 Pack Soft Drink,[Coke],6.49,6.49
4174,1666,1,6 Pack Soft Drink,[Coke],6.49,6.49
4359,1741,1,6 Pack Soft Drink,[Coke],6.49,6.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [100]:
df["precio_unitario"] == df["precio_unitario"].max()

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: precio_unitario, Length: 4622, dtype: bool

In [101]:
df[df["precio_unitario"] == df["precio_unitario"].max()]["quantity"].sum()

np.int64(30)

In [102]:
df[df["precio_unitario"] == df["precio_unitario"].max()].groupby("item_name")["quantity"].sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [107]:
df["item_name"] == "Veggie Salad Bowl"

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [ ]:
df[df["item_name"] == "Veggie Salad Bowl"]["quantity"].sum() # Cantidades

np.int64(18)

In [ ]:
df[df["item_name"] == "Veggie Salad Bowl"]["order_id"].nunique() #Pedidos

18

### Step 9. How many times did someone order more than one Canned Soda?

In [111]:
df["item_name"] == "Canned Soda"

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [115]:
df[(df["item_name"] == "Canned Soda")&(df["quantity"] > 1)]["order_id"].nunique()

18