# Webscraping con Selenium de IMDB

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import time
import pandas as pd

service = Service(executable_path='./chromedriver.exe')
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)
#time.sleep(5)
#driver.quit()
url = "https://www.imdb.com/chart/top/"
driver.get(url)
time.sleep(1)
boton = driver.find_element(By.CSS_SELECTOR, 'button[data-testid="accept-button"]')
boton.click()

nombre = []
anio = []
duracion = []
rating = []

contenedores = driver.find_elements(By.CSS_SELECTOR, "div.cli-children")

In [17]:
for pelicula in contenedores:
    titulo = pelicula.find_element(By.CSS_SELECTOR, "h3.ipc-title__text--reduced")
    nombre.append(titulo.text)
    elementos = pelicula.find_elements(By.CSS_SELECTOR, "span.cli-title-metadata-item")
    anio.append(elementos[0].text)
    duracion.append(elementos[1].text)
    punt = pelicula.find_element(By.CSS_SELECTOR, "span.ipc-rating-star--rating")
    rating.append(punt.text)

In [18]:
dic = {
    "titulo" : nombre,
    "año" : anio,
    "duracion" : duracion,
    "rating": rating
}

df = pd.DataFrame(dic)

In [19]:
df

                    titulo   año duracion rating
0          Cadena perpetua  1994   2h 22m    9,3
1               El padrino  1972   2h 55m    9,2
2      El caballero oscuro  2008   2h 32m    9,1
3      El padrino parte II  1974   3h 22m    9,0
4    12 hombres sin piedad  1957   1h 36m    9,0
..                     ...   ...      ...    ...
245     Las uvas de la ira  1940    2h 9m    8,1
246           Ser o no ser  1942   1h 39m    8,1
247     Gangs of Wasseypur  2012   5h 21m    8,2
248               Drishyam  2015   2h 43m    8,2
249      Criadas y señoras  2011   2h 26m    8,1

[250 rows x 4 columns]

In [20]:
df.to_csv("top_250_selenium.csv")